#food-section{
    padding: max(5vw,3rem) 0;
}
.food-offer{
width:30%;
}
@media screen and (max-width: 1194px ) {
    
    .food-offer{
        width: 45%;
    }

}
@media screen and (max-width: 680px ) {
    .food-offer{
        width: 90%;
    }
}