#food-section{
    padding:5vw 3vw;
}
.food-offer{
width:30%;
}
@media screen and (max-width: 1194px ) {
    .section-body{
        padding:10vw 5vw;
    }
    .mobile{
        flex-direction: column;
        
    }
    .food-offer{
        width: 46%;
    }

}
@media screen and (max-width: 680px ) {
    .section-body{
        padding:15vw 10vw;
    }
    .mobile{
        flex-direction: column;
        
    }
    .food-offer{
        width: 100%;
    }
}