:root{
  --green:#31A24C;
  --primary:#35CD8C;
  --primary-transparent:rgba(53,205,140,0.7);
  --bg-light:#FFF5EC;
  --danger:#FE043C;
  --opacity:0.7;
  --text-opacity:0.6;
  --primary-text:#2E266F;
  --secondary-text:#707070;
  --service-bg:#FFEDDE;
  --body-bg:#FFF5EC;
  --spacing:5px;
  --full-width:100%;
  --full-height:100%;
  --window-width:100vw;
  --window-height:100vh;
  --breakpont-sm:680px;
  --breakpont-md:1194px;
  --breakpont-lg:1920px;
 
}

/*General global style*/
body,html,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }
.container{
  position: relative;
  margin: auto;
  max-width: var( --breakpont-lg);
  background-color: var(--body-bg);
}
body{
  background-color: var(--body-bg);
  color:var(--primary-text);
}
/*width*/
.half{
  width:50%;
}
/*Flex box*/
.d-flex{
    display: flex;
  }
.d-center{
  justify-content: center;
  align-items: center;
}
.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.space-around{
  justify-content: space-around;
}
.flex-column{
  flex-direction:column;
}
.flex-row{
  flex-direction: row;
}
.flex-grow{
  flex-grow: 1;
}
.flex-wrap{
  flex-wrap: wrap;
}
.mobile{
  flex-direction: row;
}


/* positionning */
.relative{
    position: relative;
  }
  .absolute{
    position: absolute;
  }
  .fixed{
    position: fixed;
  }
  .sticky{
    position: sticky;
  }
  .text-center{
    text-align: center;
  }
  /*Coloring*/
  .primary{
    color: var(--primary);
  }
  .white{
    color: white;
  }
  .bg-white{
    background-color: white;
  }
  .bg-secondary{
    background-color: var(--service-bg);
  }
  .bg-primary{
    background-color: var(--primary);
  }
  .text-secondary{
    color: var(--secondary-text);
  }
  /*Marging*/
  .ml-2{
    margin-left: calc(var(--spacing)*2);
  }
  .ml-4{
    margin-left: calc(var(--spacing)*4);
  }
  .ml-8{
    margin-left: calc(var(--spacing)*8);
  }
  .ml-26{
    margin-left: calc(var(--spacing)*26);
  }
  .mr-2{
    margin-right: calc(var(--spacing)*2);
  }
  .mr-4{
    margin-right: calc(var(--spacing)*4);
  }
  .mr-8{
    margin-right: calc(var(--spacing)*8);
  }
  .mt-2{
    margin-top:calc(var(--spacing)*2);
  }
  .mt-4{
    margin-top:calc(var(--spacing)*4);
  }
 
  .mt-8{
    margin-top:calc(var(--spacing)*8);
  }
  .mt-43{
    margin-top:calc(var(--spacing)*43);
  }
  .mb-2{
    margin-bottom:calc(var(--spacing)*2);
  }
  .mb-4{
    margin-bottom:calc(var(--spacing)*4);
  }
  .mb-8{
    margin-bottom:calc(var(--spacing)*8);
  }
  .mb-16{
    margin-bottom:calc(var(--spacing)*16);
  }
  

  /*padding*/
  .p-1{
    padding: var(--spacing);
  }
  .p-2{
    padding: calc(var(--spacing)*2);
  }
  .p-3{
    padding: calc(var(--spacing)*3);
  }
  .p-4{
    padding: calc(var(--spacing)*4);
  }
  .p-8{
    padding: calc(var(--spacing)*8);
  }
  .p-16{
    padding: calc(var(--spacing)*16);
  }
  .p-32{
    padding: calc(var(--spacing)*32);
  }
  .pl-2{
    padding-left: calc(var(--spacing)*2);
  }
  .pl-4{
    padding-left: calc(var(--spacing)*4);
  }
  .p-2-4{
    padding:calc(var(--spacing)*2) calc(var(--spacing)*4);
  }
  .p-0-8{
    padding: 0px calc(var(--spacing)*8);
  }
  .p-16-8{
    padding: calc(var(--spacing)*16) calc(var(--spacing)*8);
  }
/*inputs*/
input::placeholder{
  color: var(--primary-text);
  font-size: max(12px,0.75vw);
}
input{
  border:none;
  box-sizing: border-box;
}
input:focus{
  outline: none;
 border-bottom:solid 2px var(--primary);
}
button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
  /*Typography*/
  h1{
    font-size:max(48px, 4vw);
    font-weight: 700;
  }
  h2{
    font-size:max(32px, 3vw);
    font-weight: 700;
  }
  h3{
    font-size:max(24px, 2.5vw);
    font-weight: 700;
  }
  h4{
    font-size:max(18px, 2vw);
    font-weight: 700;
  }
  h5{
    font-size:max(16px, 1.5vw);
    font-weight: 700;
  }
  h6{
    font-size:max(14px, 1vw);
    font-weight: 500;
  }
  .sub-text1{
    font-size: max(12px,0.75vw);
  }
  .sub-text2{
    font-size: max(10px,0.75vw);
  }
  .btn-text{
    font-size:max(13px,0.9vw);;
    font-weight: 400;
    text-transform: uppercase;
  }

  @media screen and (max-width: 680px ) {
  .mobile{
    flex-direction: column;
  }
}
