#services{
    padding: max(5vw,3rem) 0;
    box-sizing: border-box;
}
#services .header{
    width: 30%;
}
#services .header h4{
    border-left: 5px var(--primary) solid;
}
#services .sub{
    width:min(100%,600px);
}
.advanced-booking{
    height: 100%;
    width:40%;
}
.advanced-booking img{
    max-width:10vw;
}
.delivery{
    box-sizing: border-box;
    padding: 2rem;
    
}
.delivery img{
    width: 60%;
}
.mobile{
    flex-direction: row;
}

@media screen and (max-width: 680px ) {
    #services .header{
        width: 100%;
    }
    
}