.restaurants-section{
    padding:70px 0px;
    margin-left: 133px;
    max-width: 1450px;  
}
#top-restaurant{
    padding:3vw 0px;
}
.restaurants-section .heading{
    max-width: 600px;
}
.restaurants-section .heading h4{
    padding-left: 30px;
    border-left:12px var(--primary) solid;
}
.sub-text{
    margin-left: 7%;
    flex-basis: 33%;
}
.restaurant{
    position: relative;
    background-size: cover;
    width: 35vw;
    height: 40vw;
    margin-right: 2rem;
    border-radius: 20px;
}
.restaurant .main-img{
    height: 100%;
    width: 100%;
}
.restaurant::before{
    content: "";
    position: absolute;
    bottom: 0; 
    height: 40%;
    width:100%;
    background-color: var(--primary-transparent);
}
.restaurant .infos{
    color: white;
    position: absolute;
    bottom: 0;
    padding-left: 60px;
    width:100%;
    height: 40%;
    box-sizing: border-box;
}
.book-btn{
    position: absolute;
    width:33%;
    bottom: 20%;
    right:0;
    border-radius:100px 0px 0px 100px;
    padding:1rem;
}
.restaurant .infos .location{
    position: absolute;
    bottom: 1vw;
   margin-top: 0.5rem;
   max-width: 80%;
}
.see-more{
    margin-left: 60px;
}


/*-------------------------------------------------------------Tablet------------*/
@media screen and (max-width: 1194px ) {
    .restaurants-section .heading{
        font-size: 3vw;
    }
    .restaurants-section .heading div{
        padding-left: 16px;
        border-left:9px var(--primary) solid;
    }
    .restaurants-section .sub-text{
        margin-left: 16px;
    }
    .restaurants-section{
        margin-left: 32px;
        margin-top:67px;
    }
    .restaurant{
        max-width: 494px;
        max-height: 493px;
        margin-right: 16px;
    }
    .see-more{
        margin-left: 30px;
    }
    .restaurant .infos{   
        padding-left: 1rem;
    }
    .restaurant .infos h5{
        margin-top: 0.5rem;
    }
    .restaurant .infos .location{
        margin-top: 0.5rem;
    }
    .book-btn{
        padding:0.25rem;
    }

}
@media screen and (max-width: 680px ) {
    .restaurants-section .heading{
        flex-basis: 85%;
        color:var(--primary-text);
        font-size: 36px;
        font-weight: 500; 
        margin-bottom: 2rem;
    }
    .restaurants-section .heading div{
        padding-left: 30px;
        border-left:12px var(--primary) solid;
    }
    .restaurant{
        width: 90vw;
        height: 95vw;
        margin-bottom: 30px;
        margin:20px 40px
    }
    .see-more{
        margin-top: 20px;
        margin-left: 0;
    }
    .restau-grid{
        flex-direction: column;
    }
    
    .restaurant .infos h4{
        margin-top: 1rem;
    }


}
@media screen and (max-width: 1000px ) {
    .restaurants-section{
        flex-direction: column;
        margin-left: 20px;
        margin-top:78px;
    }
    .restaurants-section .heading{
        margin-bottom: 40px;
    }
}
